<h3>*ngIf</h3>

<div *ngIf="cursos.length > 0">
  Lista de cursos Aqui!
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
  Não existem Cursos para serem Listados
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>

<h3>Hidden como Alternativa</h3>
<div [hidden]="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngIf="mostrarCursos">
  Não existem Cursos para serem Listados
</div>


