<h5>Styles com property binding (Style binding)</h5>

<button
  [style.backgroundColor]="ativo ? 'blue' : 'gray'"
  [style.color]="ativo ? 'white' : 'black'"
  [style.fontWeight]="ativo ? 'bold' : 'normal'"
  [style.font-size]="tamanhoFonte + 'px'"
  (click)="mudarAtivo()"
>
Mudar Atributo 'ativo'
</button>
<br>
<input type="text" [(ngModel)]="tamanhoFonte">


<h5>Styles com diretivas ngStyle</h5>
<button
  [ngStyle]="{
    'backgroundColor': (ativo ? 'blue' : 'gray'),
    'color': (ativo ? 'white' : 'black'),
    'fontWeight': (ativo ? 'bold' : 'normal'),
    'font-size': (tamanhoFonte + 'px')
  }"
  (click)="mudarAtivo()"
>Mudar Atributo 'ativo'
</button>
